{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

	<div class="container">
		<div class="row mt-5">
			<div class="col-md-5 col-sm-6">
				<a href="{% url 'post-list' %}" class="btn btn-light">Back to feed</a>
			</div>
		</div>

		<div class="row justify-content-center mt-3">
			<div class="col-md-5 col-sm-12">
				{% if tag %}
					<h3>Explore #{{ tag.name }} posts</h3>
					<p class="mb-3">Most recent posts tagged with {{ tag.name }}</p>
				{% else %}
					<h3>Explore posts</h3>
					<p class="mb-3">Explore tags to find new posts</p>
				{% endif %}

				<form method="POST" class="mb-5">
					{% csrf_token %}
					{{ explore_form | crispy }}
				</form>
			</div>
		</div>

		{% for post in posts %}
	    <div class="row justify-content-center mt-3">
	        <div class="col-md-5 col-sm-12 border-bottom position-relative">
	            {% if post.shared_user %}
	            <div>
	                <a href="{% url 'profile' post.shared_user.profile.pk %}">
	                    <img class="rounded-circle post-img" height="30" width="30" src="{{ post.shared_user.profile.picture.url }}" />
	                </a>
	                <p class="post-text">
	                    <a class="text-primary post-link" href="{% url 'profile' post.shared_user.profile.pk %}">@{{ post.shared_user }}</a> shared a post on {{ post.shared_on }}
	                </p>
	            </div>
	            {% else %}
	            <div>
	                <a href="{% url 'profile' post.author.profile.pk %}">
	                    <img class="rounded-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}" />
	                </a>
	                <p class="post-text">
	                    <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
	                    <span onclick="shareToggle('{{ post.pk }}')"><i class="far fa-share-square share-btn"></i></span>
	                </p>
	            </div>
	            {% endif %}
	            <form method="POST" action="{% url 'share-post' post.pk %}" class="d-none" id="{{ post.pk }}">
	                {% csrf_token %}
	                {{ shareform | crispy }}
	                <div class="d-grid gap-2">
	                    <button class="btn btn-success mt-3">Share the post</button>
	                </div>
	            </form>
	            {% if post.shared_body %}
	            <div class="position-relative border-bottom mb-3 body">
	                <p>{{ post.shared_body }}</p>
	            </div>
	            <div class="shared-post">
	                <a href="{% url 'profile' post.author.profile.pk %}">
	                    <img class="rounded-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}" />
	                </a>
	                <p class="post-text">
	                    <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
	                </p>
	            </div>
	            {% endif %}
              <div class="shared-post position-relative pt-3">
                <div class="body">
                  <p>{{ post.body }}</p>
                </div>
                  <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
              </div>

	            <div class="d-flex flex-row">
	                <form method="POST" action="{% url 'like' post.pk %}">
	                    {% csrf_token %}
	                    <input type="hidden" name="next" value="{{ request.path }}">
	                    <button class="remove-default-btn" type="submit">
	                        <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
	                    </button>
	                </form>

	                <form method="POST" action="{% url 'dislike' post.pk %}">
	                    {% csrf_token %}
	                    <input type="hidden" name="next" value="{{ request.path }}">
	                    <button class="remove-default-btn" type="submit">
	                        <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
	                    </button>
	                </form>
	        </div>
	    </div>
	</div>
    {% endfor %}
</div>
{% endblock content %}
