{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'profile' profile.pk %}" class="btn btn-light">Back to profile</a>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-12">
      {% if profile.name %}
      <h3>Followers for {{ profile.name }}</h3>
      {% else %}
      <h3>Followers for @{{ profile.user.username }}</h3>
      {% endif %}
    </div>
  </div>
  {% for follower in followers %}
  <div class="row justify-content-center">
    <div class="col-md-5 col-sm-12 position-relative my-3">
      <a href="{% url 'profile' follower.profile.pk %}" class="post-link"><img class="rounded-circle post-img" height="60" width="60" src="{{ follower.profile.picture.url }}" /></a>
      <a href="{% url 'profile' follower.profile.pk %}" class="post-link"><h5 class="mt-3">@{{ follower.username }}</h5></a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
